In [39]:
from covid import Covid
import pandas as pd


# to get data from worldometers.info
covid = Covid(source="worldometers")

# get all data
covid.get_total_confirmed_cases()

# all countries
countries = covid.list_countries()
countries
c = pd.DataFrame(countries, columns=["country"])
c["index"] = c.index

columns_titles = ["index","country"]
c=c.reindex(columns=columns_titles)

In [40]:
c

     index           country
0        0     north america
1        1              asia
2        2     south america
3        3            europe
4        4            africa
..     ...               ...
224    224  marshall islands
225    225             samoa
226    226           vanuatu
227    227        micronesia
228    228             china

[229 rows x 2 columns]

In [36]:

for col in c.columns:
    print(col)

country